ocsp.ParseResponseForCert => bad OCSP signature: crypto/rsa: verification error

Hi @robstradling,

I think [golang.org/x/crypto/ocsp](https://github.com/crtsh/ocsp_monitor/blob/master/ocsp_monitor.go#L33) have a different behavior that I use Openssl (@DDvO) command to check OCSP respond. 

I got the error `ocsp.ParseResponseForCert => bad OCSP signature: crypto/rsa: verification error` on the call [CheckSignature](https://github.com/golang/crypto/blob/master/ocsp/ocsp.go#L571) (@agl @rsc)  but I check the same certificate with openssl and I don't have any kind of error. 

Example:
https://crt.sh/?id=6946595482&opt=ocsp

Using Openssl command:

 ```
~ [1]> openssl ocsp -issuer Downloads/certificate.cer -cert Downloads/6257495941.crt -req_text -url http://ocsp.acedicom.edicomgroup.com/caedicom04 -text
OCSP Request Data:
    Version: 1 (0x0)
    Requestor List:
        Certificate ID:
          Hash Algorithm: sha1
          Issuer Name Hash: 87B16D4521CD26184016A88032489A9BD900E4FD
          Issuer Key Hash: 06CE5FAAB19626CDB53FAD8E619AF54721A7F905
          Serial Number: 3E1C494FA6B27D2EA35A45677CB11A8FF38C6030
    Request Extensions:
        OCSP Nonce: 
            041094FB7784DA92E8DE9403A985E8492317
OCSP Response Data:
    OCSP Response Status: successful (0x0)
    Response Type: Basic OCSP Response
    Version: 1 (0x0)
    Responder Id: 06CE5FAAB19626CDB53FAD8E619AF54721A7F905
    Produced At: Aug 23 08:21:38 2022 GMT
    Responses:
    Certificate ID:
      Hash Algorithm: sha1
      Issuer Name Hash: 87B16D4521CD26184016A88032489A9BD900E4FD
      Issuer Key Hash: 06CE5FAAB19626CDB53FAD8E619AF54721A7F905
      Serial Number: 3E1C494FA6B27D2EA35A45677CB11A8FF38C6030
    Cert Status: good
    This Update: Aug 23 08:21:38 2022 GMT
    Next Update: Aug 24 08:21:38 2022 GMT

    Response Extensions:
        OCSP Nonce: 
            041094FB7784DA92E8DE9403A985E8492317
    Signature Algorithm: sha256WithRSAEncryption
    Signature Value:
        0d:78:dd:5f:19:b3:9d:3a:be:f1:72:a0:88:84:92:b9:9a:e9:
        8b:23:04:e5:21:99:46:6f:5a:6e:c0:36:54:44:33:87:e8:b5:
        ee:16:01:59:c8:6b:72:d3:21:5b:66:9b:17:8a:d1:70:e1:eb:
        ad:57:4b:5d:0b:d7:86:07:49:57:d1:2c:7b:38:73:67:70:6b:
        79:46:0d:76:0e:02:48:2f:3b:4f:1d:c8:2f:4e:34:01:ad:b6:
        e9:8b:9e:5d:e5:8d:d3:ca:65:43:07:b0:81:97:23:13:aa:4e:
        14:de:27:7b:51:4b:58:83:fb:77:16:cd:aa:e9:9d:b2:cd:df:
        5a:e7:00:e1:34:e0:35:53:fe:1d:77:98:7f:6f:97:b2:53:61:
        87:1b:65:01:a0:b0:2f:ff:98:fe:ab:96:9b:1c:8b:1d:41:8a:
        a7:2b:0f:08:5e:4a:b4:dc:73:2f:4e:cd:fc:2a:eb:07:e9:27:
        9b:c3:54:d0:47:0c:be:d0:a5:75:90:65:0d:5e:5f:dc:c1:61:
        36:1a:40:22:ff:8d:5b:d6:1e:45:f6:d8:2f:3f:50:3b:7b:7e:
        e1:b4:be:18:33:43:06:87:d1:10:4f:15:b6:db:50:97:79:76:
        9a:88:69:38:de:23:05:36:13:ee:34:05:b8:68:27:6a:4a:d5:
        96:c1:22:94:fc:ef:f3:a3:47:c6:87:ff:19:7d:16:54:6b:d7:
        27:04:0d:9b:42:63:51:2d:b2:8b:92:a6:ff:c5:1b:8d:de:fa:
        9e:c6:ff:48:95:e0:fb:6a:2a:57:12:c8:0d:fc:cb:84:0d:47:
        6d:c9:ac:d3:fd:8a:4f:5c:74:60:d4:61:7a:ef:25:d5:df:f4:
        d9:9a:f6:04:02:dd:e4:47:47:37:c1:f7:65:81:b8:95:88:3e:
        ff:24:21:da:53:c8:2f:10:2c:9b:5a:18:c3:3f:c1:64:ca:a3:
        1e:8a:dd:7b:17:e3:a1:c3:3a:98:27:dd:5f:a0:3b:2f:e0:fd:
        fc:ac:e0:5d:00:8d:69:52:40:1d:24:e0:a4:41:2b:98:df:99:
        b4:c8:c5:89:de:63:c1:82:dc:e8:0a:30:78:1a:b9:9c:47:69:
        ae:95:57:63:0a:51:fa:67:58:35:c9:18:0f:e1:49:d5:28:5f:
        f5:b9:4d:6e:1f:51:2e:19:cc:d5:40:53:26:26:98:e4:82:85:
        02:d5:ad:7c:26:87:ac:c8:40:83:0f:b5:dd:c6:d8:56:cb:6c:
        ad:74:2c:a8:de:a7:9a:15:91:da:d7:54:1b:26:c1:27:e3:c3:
        2e:85:fa:d8:7e:63:76:20:74:94:a0:69:61:59:67:89:58:3f:
        34:f8:25:4d:11:3c:09:6b
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            31:44:48:85:ca:45:af:8d:3e:55:4d:ea:d0:00:ea:78:61:67:5a:83
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN=CAEDICOM Root, O=EDICOM, C=ES
        Validity
            Not Before: Sep 23 13:50:20 2021 GMT
            Not After : May 21 10:20:00 2034 GMT
        Subject: CN=CAEDICOM04/serialNumber=B96490867/organizationIdentifier=VATES-B96490867, O=EDICOM CAPITAL SL, L=PATERNA, C=ES
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                Public-Key: (4096 bit)
                Modulus:
                    00:90:90:8c:72:b5:32:b5:90:f9:86:03:a4:51:a0:
                    dd:8e:ab:0e:7f:53:ef:8e:4b:58:42:79:92:03:77:
                    22:9c:4f:a4:bb:c3:40:31:3b:6e:46:59:ae:1a:12:
                    33:c4:49:f2:dc:75:27:a1:dc:ab:d7:23:57:a2:a6:
                    48:a2:3c:f1:eb:cb:05:61:18:d3:2e:63:4b:d3:bc:
                    70:e2:fc:21:a9:53:63:32:88:90:2c:b5:b6:76:bb:
                    0d:a4:4e:01:56:68:f0:9b:2d:21:6f:92:d7:60:61:
                    b2:d4:32:cc:1c:09:5f:4e:85:74:3b:3c:fe:f9:b9:
                    a8:22:83:d1:54:fc:46:7e:c6:47:17:11:fb:37:84:
                    d1:1a:c6:78:fc:fc:fa:c4:2d:b8:68:60:73:50:4c:
                    b7:88:3a:7c:04:9b:df:27:5b:a4:46:a7:b9:3e:13:
                    f0:6c:b1:31:da:66:88:09:94:11:77:d7:61:26:76:
                    3a:4f:58:90:2b:74:6c:85:99:93:09:e2:a2:4c:e5:
                    98:3c:ae:c4:6e:be:c0:fd:20:bd:f0:35:c6:2b:b8:
                    6c:3f:db:13:e6:7a:e9:79:23:b7:bb:d2:67:f2:de:
                    ce:12:d0:1f:68:37:2a:f0:05:66:66:e8:af:f5:b1:
                    c4:5c:ae:1b:75:73:6c:ef:46:a4:40:52:42:23:45:
                    c9:c3:1c:73:61:eb:bf:12:36:5d:f1:f5:52:d7:ce:
                    54:ac:ad:e2:d1:ea:c5:5c:6c:31:fb:cf:98:16:24:
                    b2:98:4d:45:d5:e8:57:6e:87:cd:07:5e:f8:a6:5c:
                    3d:b4:6d:45:bf:ca:8e:09:02:1e:92:25:f5:df:d2:
                    c4:64:4f:b6:7c:58:2e:80:ba:1c:ed:1c:21:b7:ec:
                    96:c1:b1:ed:af:29:05:a3:1a:45:92:18:56:8b:41:
                    a0:a3:b1:c1:bc:53:0e:ca:d3:c3:e0:3f:d2:33:72:
                    c3:20:11:6c:55:41:26:74:10:de:c5:d1:f7:a0:c7:
                    b8:02:d2:41:2a:79:f4:7a:19:f7:f6:42:18:a1:43:
                    11:de:11:e4:4e:f5:85:96:ae:e7:2b:16:15:bb:d6:
                    77:c8:b9:60:b2:ea:95:b3:d3:9e:55:88:f1:5c:a3:
                    9f:40:a8:4a:92:85:3c:f3:7e:8b:8e:d4:96:7b:54:
                    d6:00:ef:3f:47:5a:5d:cf:c4:f7:59:9e:b7:84:c6:
                    d1:9f:59:54:a5:81:5d:27:31:8a:a6:0a:38:c5:7d:
                    0a:14:06:ee:7a:02:d7:a8:31:76:88:66:ee:14:b0:
                    cb:92:f2:66:44:e9:63:c1:93:c9:1d:21:14:fc:60:
                    23:be:6f:f4:47:5e:f7:b2:a3:0b:c0:27:72:71:58:
                    2e:23:1f
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Basic Constraints: critical
                CA:TRUE, pathlen:0
            X509v3 Authority Key Identifier: 
                14:CD:2A:59:78:63:AB:61:19:E8:B8:3D:A1:E0:5A:C0:75:E7:F9:CB
            Authority Information Access: 
                CA Issuers - URI:http://acedicom.edicomgroup.com/certs/caedicomroot.cer
                OCSP - URI:http://ocsp.acedicom.edicomgroup.com/caedicomroot
            X509v3 Certificate Policies: 
                Policy: 1.3.6.1.4.1.30051.2.3.1.1
                  User Notice:
                    Explicit Text: 
                  CPS: http://acedicom.edicomgroup.com
            X509v3 Extended Key Usage: 
                TLS Web Client Authentication, TLS Web Server Authentication
            X509v3 CRL Distribution Points: 
                Full Name:
                  URI:http://acedicom.edicomgroup.com/caedicomroot.crl
            X509v3 Subject Key Identifier: 
                06:CE:5F:AA:B1:96:26:CD:B5:3F:AD:8E:61:9A:F5:47:21:A7:F9:05
            X509v3 Key Usage: critical
                Digital Signature, Certificate Sign, CRL Sign
    Signature Algorithm: sha256WithRSAEncryption
    Signature Value:
        bc:1b:1b:50:b3:ec:29:01:e6:48:9d:ce:ed:ae:21:9a:25:e4:
        62:60:ca:4a:b8:41:e8:2a:b7:93:cc:6a:35:bb:d7:af:c0:de:
        dd:32:3c:e1:6c:70:ea:51:0d:8b:a3:49:87:86:dc:88:7a:a0:
        cf:fd:c8:68:1f:57:f5:68:2a:73:42:91:2d:7a:1c:e8:ae:98:
        ef:b3:d8:e0:96:0b:da:5c:b4:b2:82:86:d0:4c:42:a6:e7:6e:
        1b:f1:c8:2b:e0:64:7e:ec:5e:8d:86:2f:ed:be:a7:16:b1:49:
        31:f6:0e:04:4a:9b:43:b2:c7:70:69:af:e0:8b:74:b1:7e:11:
        f5:17:ae:47:ef:1e:ae:db:80:a7:cf:14:f6:18:39:7e:12:21:
        e8:43:e3:81:0d:4c:1d:24:08:32:ee:1f:f8:8b:4c:08:dd:fd:
        bf:c1:73:3d:87:d5:90:3a:4e:57:e5:01:e6:8d:2c:af:be:a2:
        e5:90:13:be:b9:40:a4:46:c3:37:26:6e:8b:f7:9c:07:94:bc:
        95:10:72:ea:de:4a:4b:42:fa:fc:7c:5a:af:5c:bd:7a:78:75:
        cc:3a:a6:e5:ad:42:ce:99:e8:83:83:f1:d8:91:5b:67:73:e3:
        17:f6:51:02:b5:08:2d:54:13:12:ae:0a:fe:70:ad:7e:35:94:
        8c:73:93:ca:ba:8f:d4:17:1a:b8:c0:03:cf:70:37:b8:d5:41:
        e8:de:c0:66:78:2b:46:b4:43:65:cc:52:de:ac:50:f1:f5:f0:
        69:b2:d0:dc:f2:7b:2e:84:68:cb:68:bd:9d:5a:32:71:67:2b:
        43:ae:64:86:32:35:eb:98:f5:56:e2:fa:d9:83:b9:b4:54:99:
        ad:66:1d:9c:21:2f:f0:69:64:8b:57:e2:5f:01:b6:c4:fd:c1:
        fd:87:59:a6:77:09:6c:bb:79:ae:88:59:77:8d:ef:f5:22:24:
        0f:c7:6d:56:bf:9d:a1:db:13:00:0b:92:b3:82:8e:62:01:75:
        ba:ed:4c:c4:e5:58:d8:1e:0e:e5:f0:66:55:a4:cd:67:5d:b3:
        32:1b:db:cd:08:aa:d7:fd:a7:58:f2:d7:6f:c7:92:37:17:1a:
        32:00:1e:fb:04:2e:d6:d8:be:73:26:b7:f6:73:db:bb:51:a4:
        0f:3c:1d:5b:b0:41:93:c0:3c:9a:22:6b:05:c2:3f:67:7d:d5:
        51:28:6f:bb:3f:ca:e3:93:04:68:dc:7a:f6:1c:0d:93:a7:ce:
        b9:bf:bb:83:33:8b:b2:87:28:e4:2b:77:ea:4e:1e:28:ce:3d:
        53:aa:d1:a9:3c:66:a4:d3:b5:db:69:8a:d3:d3:8d:f2:b7:7a:
        39:c9:0c:36:f3:7e:ef:77
Response verify OK
Downloads/6257495941.crt: good
	This Update: Aug 23 08:21:38 2022 GMT
	Next Update: Aug 24 08:21:38 2022 GMT
```
Could you check?

### Environment

EJBCA 7.4.3 from Keyfactor @primetomas
Jboss  7.3

Thanks in advance


@aldelsa Your openssl dump shows the issuing CA's certificate embedded in the OCSP response, which is unnecessary.  (With delegated OCSP signing, the delegated OCSP Signer certificate needs to be embedded; with non-delegated OCSP signing, no certificates need to be embedded).

When I performed the same openssl test just now, I saw a different and completely unrelated certificate embedded in the OCSP response (https://crt.sh/?id=7399197960).
RFC6960 says that an OCSP responder `MAY include certificates in the certs field of BasicOCSPResponse that help the OCSP client verify the responder's signature`.  I don't know what the RFC authors intended to happen when that "help" is not actually helpful.  It would appear that `ocsp.ParseResponseForCert` expects the embedded cert(s) to form a valid chain, and complains when this isn't the case.

As a general comment on certificate validation, if the signer includes certificates with the signature, these should be the signer's certificate and (part of) its chain (and the receiver should better not make assumptions on their order).
If any further/unrelated certs are included, these are of no help, but they should not have a negative effect on the validation.

So the reason for the above quoted `ocsp.ParseResponseForCert => bad OCSP signature: crypto/rsa: verification error` message _should_ be something else than a superfluous certificate. In other words, the verifier should not be helpless :wink: on useless certificates.

If this message can be taken serious (which unfortunately often is not the case), then there signature itself is broken, but since OpenSSL appears to successfully verify it, the actual reason likely is some issue with certificate path construction or validation.

In such cases the validating software should give more specific info on what exactly went wrong because there are numerous potential reasons, including missing or outdated certificates, missing cert status information, inadequate/unsupported algorithms and key usage/policy restrictions, etc.

@DDvO @robstradling Then, I understood that the OSCP responder build a chain with the certificates, in my case intermediate and root certificate. The order that had been build is "incorrect" or it is an order than to [golang.org/x/crypto/ocsp](https://github.com/crtsh/ocsp_monitor/blob/master/ocsp_monitor.go#L33) is not ready to check and that is the cause of `crypto/rsa: verification error`. am I right?

Anyway, @robstradling can you tell me the exact OpenSSL command to get the Root certificate https://crt.sh/?id=7399197960? Because in my case (`OpenSSL 1.1.1n  15 Mar 2022`) I only get the intermediate like my issue.

Ah, for the specific case of OCSP response verification the OCSP response signer cert and its chain are usually implicit because they are the same as of the issuer chain of the target (usually, EE) cert being verified.
As @robstradling wrote, there is one exception:
> the delegated OCSP Signer certificate needs to be embedded;
> with non-delegated OCSP signing, no certificates need to be embedded).

So the only cert that makes sense to include is the signer cert of a dedicated OCSP responder, if and only if such an OCSP responder is being used that acts as a (direct) delegate of the issuing CA whose cert is first in the chain below the target cert.

All other (CA) certs in the chain anyway should be validated as part of the usual cert chain validation of the target cert.
In particular, when specifically checking the OCSP response in this context, you don't need to bother with those CA certs, and in particular not with the trust anchor (typically, a root CA cert).

For the OCSP signature verification usually you need to take the public key included in the issuing CA cert that is first in the chain below the target cert. Yet if the OCSP response contains a cert of several ones, chances are high that one of them is the cert of a dedicated OCSP responder being in use.

Which OCSP response signer certificate to pick is determined by the `ResponderID` field.
See [RFC 6960 section 4.2.2.3](https://www.rfc-editor.org/rfc/rfc6960#section-4.2.2.3): Basic Response
> 
> The basic response type contains:
>  ...
>   o  either the name of the responder or a hash of the responder's
      public key as the ResponderID;
> ...
> The purpose of the ResponderID information is to allow clients to
> find the certificate used to sign a signed OCSP response.  Therefore,
> the information MUST correspond to the certificate that was used to
>   sign the response.


> Anyway, @robstradling can you tell me the exact OpenSSL command to get the Root certificate https://crt.sh/?id=7399197960?
> Because in my case (OpenSSL 1.1.1n 15 Mar 2022) I only get the intermediate like my issue.

@aldelsa Sorry, my mistake.  My openssl command specified the wrong OCSP responder URL (I had http://ocsp.acedicom.edicomgroup.com/caedicomroot instead of http://ocsp.acedicom.edicomgroup.com/caedicom04).  After correcting that, I see a signed "good" OCSP response instead.

https://cs.opensource.google/go/x/crypto/+/bc19a97f:ocsp/ocsp.go;l=571 shows the Go OCSP library code that is generating the "bad OCSP signature: crypto/rsa: verification error" message you're seeing on https://crt.sh/?id=6946595482&opt=ocsp.  The issuer.CheckSignature call requires the embedded certificate to be signed by the issuing CA.  When the embedded certificate is an OCSP Signer certificate, this call will succeed; but in this case the embedded certificate IS the issuing CA's certificate, and so an error is returned.  (A subordinate CA certificate is not signed by itself!)
As I noted before, RFC6960 is somewhat vague on whether or not an OCSP client should treat this as an error.  But whichever way you look at it, embedding the issuing CA's certificate in an OCSP response is ALWAYS unnecessary, so IMHO there seems little point in discussing whether or not this is a bug in the Go OCSP library code.  The sensible solution is to stop embedding that certificate in the OCSP responses.

So it turns out that the Go OSCP library makes a generally false assumption on the cert(s) possibly embedded in the OCSP response. And this also causes, as I suspected, a misleading error message (BTW, both the classification as `ParseError` and the more detailed text `"bad OCSP signature"` are wrong) in case its assumption is not fulfilled.
To be compliant with RFC 6960, as I quoted above, an implementation must use the ResponderID information to pick the right cert for extracting the public key for signature verification.

> The sensible solution is to stop embedding that certificate in the OCSP responses.

No, this is just a sender-side workaround for buggy/lazy implementations that do not properly make use of the OCSP response contents
and simply assume that if there are any embedded certs then the first such cert is of a dedicated OCSP responder that is supposed to have signed the OCSP response.

> The sensible solution is to stop embedding that certificate in the OCSP responses.

Yes, that will solve the problem. But we have software clients that check OCSP from my certificates and I don't if they are using the cert embedded for something. We have to check before if that change have any consequence. 

But I am with @DDvO, this certificate embedded should not penalize the verification. As in described in the RFC 6960 is optional and could have more than one. Furthermore the code only get the first one of these certificates embedded [OCSP lib ](https://cs.opensource.google/go/x/crypto/+/bc19a97f:ocsp/ocsp.go;l=561) I am not sure is that is in agreement with the RFC.

If the developers of [that Go code](https://cs.opensource.google/go/x/crypto/+/bc19a97f:ocsp/ocsp.go;l=553) do not understand [RFC 6960 section 4.2.2.3](https://www.rfc-editor.org/rfc/rfc6960#section-4.2.2.3) or do not manage to implement the correct cert picking, 
a more viable workaround would be in this receiver-side code to try in turn (the public keys of) _all_ embedded certs _and_ the issuer cert until the OCSP response signature gets successfully verified (or no more cert is left),
rather than trying just one (and possibly wrong) cert and then giving up with a misleading error message.

Perhaps this could be interesting for @WilsonKathleen @BenWilson-Mozilla because [ccadb.org](ccadb.org) use [crt.sh](crt.sh) for validations. 

`
SubjectURL":"https://rootcertificateprograms.edicom.es/","RecordID":"a008Z00001RHgMzQAL","Opinion":{"Result":"FAIL","Errors":[{"Raw":"bad OCSP signature: crypto/rsa: verification error","Interpretation":"OCSP responder http://ocsp.acedicom.edicomgroup.com/caedicom04 could not verify the provided chain at the leaf. This is usually accompanied by a verification error thrown by certutil.","Advise":"https://crt.sh/?q=DF5E40D64CD358D05488F7C258F17797F9C4F42490E1A2E5F8A8590E6DF15D36"}]},"Expectation":"valid","Error
`

Hmm, one more comment on [that buggy Go code](https://cs.opensource.google/go/x/crypto/+/bc19a97f:ocsp/ocsp.go;l=575):
If the `issuer` parameter passed in happens to be `nil`, the signature of the OSCP response is simply not checked.
Security-wise this looks suspicious. Or is it guaranteed that its callers always provide a non-`nil` `issuer` argument?

@aldelsa @DDvO: I think the correct place to address these issues is in the Go OCSP library code, so that all downstream users of `ParseResponseForCert` will benefit.  Have either of you filed any issues against https://github.com/golang/go ?

@all thanks for the support, I will try not to include the certificate in the reply.